*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.sistema img{
    width: 70px;
}

.sistema{
    display: flex;
    align-items: center;
}

.sistema input{
    width: 2.5em;
    text-align: center;
}

.sisteman form{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    align-items: center;
}

#calcularBtn{
    width: max-content;
}

.matriz{
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px black solid;
    border-left: 1px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.l1, .l2, .l3{
    display: flex;
    gap: 1em;
}
